.modal.fade#newSectionModal{ tabindex: '-1', 'aria-labelledby' => 'newSectionModalLabel', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#newCatalogueModalLabel
          = t(".new_section")
        %button.btn-close{'data-dismiss' => 'modal', 'aria-label' => 'close'}
          %span{'aria-hidden' => true}
            &times;
      = form_for [:catalogue, section] do |f|
        .modal-body
          - if section.errors.any?
            .alert.alert-danger
              %ul
                - section.errors.full_messages.each do |msg|
                  %li= msg
          .row
            = f.hidden_field :catalogue_id, value: catalogue.id
            .col-12
              .form-group
                = f.label :name
                = f.text_field :name, class: "form-control"
        .modal-footer
          %button.btn.btn-primary(type="submit")
            = t(".create_section")
