%nav.navbar.navbar-expand-lg.navbar-light.bg-light#menu-bar
  .container
    = link_to root_path, class: "navbar-brand" do
      = t(".catalogue_app")
    %button.navbar-toggler{ type: "button", "data-toggle": "collapse", "data-target": "#navbar", "aria-controls": "navbar", "aria-expanded": "false", "aria-label": "Toggle navigation" }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to catalogues_path, class: "nav-link" do
            = t(".catalogues")
        %li.nav-item
          = link_to sections_path, class: "nav-link" do
            = t(".sections")
        %li.nav-item
          = link_to products_path, class: "nav-link" do
            = t(".products")
      = link_to destroy_user_session_path, method: :delete, class: "btn btn-primary" do
        = t(".logout")